@import "variables";

:host > div {
  display: flex;
  overflow: hidden;
}

.pane {
  margin-top: 50px;
  width: calc(100vw - 50px);
  transition: width 1s;
  overflow: hidden;
  box-shadow: inset 0 0 10px black;
}

.collapsedAside {
  width: calc(100vw - 50px) !important;
}

@media (min-width: $breakpoint-tablet) {
  .pane {
    transition-delay: 0;
    width: calc(100vw - 300px);
  }
}
