@import "variables";

:host > div {
  // height: 40px;
  // overflow-y: scroll;
}

.group-selector {
  display: flex;
  border-bottom: solid 1px $blue-gray-400;
  background-color: $blue-gray-200;
  div {
    width: fit-content;
    padding: 0.37rem 0.5rem;
    border-right: solid 1px $blue-gray-400;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: lighten($green-blue, 25);
    }
  }
}

.active {
  font-weight: bold;
  background-color: lighten($green-blue, 20);
}
