@import "variables";

:host > div {
  position: relative;
  overflow-y: scroll;
  padding-top: 120px;
}

.group-cards__wrapper {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.group-card {
  background-color: $blue-gray-100;
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px $shadow-black, inset 0 0 5px $shadow-black;
  &:hover {
    box-shadow: 0 0 10px $black, inset 0 0 5px $shadow-black;
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
  }
}

.new-group-button {
  position: fixed;
  right: 20px;
  top: 83px;
  z-index: 20;
  width: 100px;
  padding: 1rem;
}
