@import "variables";

:host > div {
  height: calc(100vh - 50px);
  padding-top: 120px;
  overflow-y: scroll;
  .profile,
  form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: inherit;
    background-color: $blue-gray-100;
    padding: 2rem 4rem;
    border-radius: 50px;
    box-shadow: 0 0 10px $shadow-black, inset 0 0 5px $shadow-black;
    flex-direction: column;
    fa-icon {
      margin-left: 0.5rem;
      color: $blue-gray-400;
      &:hover {
        color: $main-blue-dark;
      }
    }
    .user-name {
      display: inline-block;
    }
    img {
      max-width: calc(100vw - 70px);
      border-radius: 20px;
    }
    ul {
      list-style: none;
      padding: 0 0 0 0.5rem;
    }
    .instrument-name {
      text-transform: capitalize;
    }
  }
  form {
    margin-top: 2rem;
  }
  form > div {
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 0.5rem;
    }
  }
  .actions {
    display: flex;
    flex-direction: column;
    button {
      padding: 1rem 2rem;
    }
  }
}

.form-wrapper {
  position: fixed;
  top: 160px;
  left: 50px;
  width: calc(100vw - 50px);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (min-width: $breakpoint-big-screen) {
  :host > div {
    width: auto;
    padding: 2rem;
    padding-top: calc(120px + 2rem);
    .profile {
      flex-direction: row;
      justify-content: center;
      img {
        margin-left: 5rem;
        max-width: 600px !important;
      }
    }
  }
}
