// COLORS
$main-blue: #5ee7fd;
$mid-blue: #54e3d0;
$green-blue: #69fabe;
$mid-green: #54e37f;
$main-green: #5efd60;

$error: #eb3b26;

$black: #111;
$white: #eee;

// FONTS
$font-primary: "Helvetica", "Verdana", sans-serif;
