// COLORS
$main-blue: #5ee7fd;
$mid-blue: #54e3d0;
$green-blue: #69fabe;
$mid-green: #54e37f;
$main-green: #5efd60;

$error: #eb3b26;
$error-light: #e4b3b3;

$white: #eee;
$black: #111;
$shadow-black: rgba(0, 0, 0, 0.1);

$blue-gray-100: #fafcfd;
$blue-gray-200: #f8fafc;
$blue-gray-300: #d1deeb;
$blue-gray-400: #c1cedb;
$blue-gray-500: #5e7386;
$blue-gray-600: #5777a8;

// FONTS
$font-primary: "Helvetica", "Verdana", sans-serif;

// BREAKPOINTS
$breakpoint-tablet: 768px;
