@import "variables";

.comment {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  width: inherit;
  border-bottom: solid 1px grey;
}

.body {
  display: flex;
  width: inherit;
  fa-icon {
    color: $blue-gray-400;
    margin-left: 0.3rem;
    &:hover {
      color: $main-blue-dark;
    }
  }
}

.profile-picture__wrapper {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.profile-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.message {
  width: 75%;
}

a {
  color: $blue-gray-500;
}
