@import "variables";

:host ::ng-deep {
  .error {
    color: $error;
    background: $white;
    border: 1px solid $error-light;
    border-radius: 2px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0;
  }
  h1 {
    margin: 0 0 25px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  button {
    cursor: pointer;
    outline: 0;
    width: 100%;
    border-radius: 2px;
    border: 1px solid $mid-blue;
    background: $main-blue;
    color: $black;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: darken($main-blue, 5%);
      border-color: darken($mid-blue, 5%);
    }
    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
  a {
    display: block;
    text-align: center;
    color: $blue-gray-500;
    font-size: 14px;
  }
}

.auth-form {
  background: #fff;
  box-shadow: 0 3px 4px $shadow-black;
  border-radius: 3px;
  border: 1px solid $blue-gray-400;
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  &__action {
    margin: 10px 0 30px;
  }
  &__toggle {
    border-radius: 0 0 3px 3px;
    border-top: 1px solid $blue-gray-400;
    background: $blue-gray-200;
    padding: 10px;
    margin: 0 -30px -30px;
  }
  label {
    display: block;
    margin: 0;
  }
  input {
    outline: 0;
    font-size: 16px;
    padding: 10px 15px;
    margin: 0;
    width: 100%;
    background: $blue-gray-100;
    color: $blue-gray-600;
    border: 1px solid $blue-gray-300;
    text-align: center;
    &::-webkit-input-placeholder {
      color: $blue-gray-600;
    }
    &[type="email"] {
      border-radius: 3px 3px 0 0;
    }
    &[type="password"] {
      border-radius: 0 0 3px 3px;
      margin: -1px 0 0;
    }
  }
}
