@import "variables";

:host > div {
  height: calc(100vh - 50px);
  width: 300px;
  background-color: $blue-gray-100;
  border-right: solid 1px $blue-gray-400;
  border-top: solid 1px $blue-gray-400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 0.7rem 1.7rem;
  border-bottom: solid 1px $blue-gray-400;
  cursor: pointer;
  &:hover {
    // transform: translateX(10px);
    padding-left: 2rem;
    background-color: $white;
    // color: $blue-gray-500;
  }
}

.active {
  font-weight: bold;
  background-color: $blue-gray-300;
}
