@import "variables";

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  border-bottom: solid 1px $blue-gray-300;
  border-radius: 10px;
  background-color: $blue-gray-100;
  transition: 1s;
  box-shadow: 0 0 10px $shadow-black, inset 0 0 5px $shadow-black;
  width: calc(100vw - 50px);
  margin: 0;
  overflow: hidden;
}

.header {
  text-align: center;
}

.title {
  display: inline;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: $main-blue-dark;
}

fa-icon {
  color: $blue-gray-400;
  margin-left: 0.3rem;
  &:hover {
    color: $main-blue-dark;
  }
}

.body {
  max-width: 80%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.image {
  margin: 1rem;
  img {
    border-radius: 20px;
    max-width: calc(100vw - 60px);
  }
}

@media (min-width: $breakpoint-big-screen) {
  .post {
    margin: 2rem;
  }
}
