@import "variables";

:host > div {
  height: calc(100vh - 50px);
  top: 120px;
  padding-top: 120px;
  overflow-x: hidden;
  overflow-y: scroll;
}

footer {
  position: absolute;
  bottom: -0.8rem;
  width: inherit;
  font-size: 0.5rem;
  a {
    font-style: italic;
    color: $blue-gray-600;
    &:hover {
      text-decoration: none;
      color: $black;
    }
  }
}

.pane {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.calendar {
  position: relative;
  max-width: 900px;
  background-color: white;
  border-radius: 5px;
}

@media (min-width: $breakpoint-tablet) {
  .calendar {
    width: 80%;
  }
}
