@import "variables";

:host > div {
  width: calc(100vw - 300px);
}

footer {
  position: absolute;
  bottom: -0.8rem;
  width: inherit;
  // text-align: center;
  font-size: 0.5rem;
  a {
    font-style: italic;
    color: $blue-gray-600;
    &:hover {
      text-decoration: none;
      color: $black;
    }
  }
}

.pane {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.calendar {
  position: relative;
  width: 80%;
  max-width: 900px;
  background-color: white;
}
