@import "variables";

:host > div {
  position: relative;
}

.active {
  font-weight: bold;
  background-color: lighten($green-blue, 20);
}

.show-post-form {
  position: fixed;
  right: 10px;
  top: 90px;
  z-index: 20;
  padding: 0.7rem;
  background-color: $blue-gray-100;
  border-radius: 5px;
}

.group-profile {
  .profile {
    display: flex;
    align-items: center;
    max-width: inherit;
    background-color: $blue-gray-100;
    padding: 2rem 4rem;
    border-radius: 10px;
    box-shadow: 0 0 10px $shadow-black, inset 0 0 5px $shadow-black;
    fa-icon {
      margin-left: 0.5rem;
      color: $blue-gray-400;
      &:hover {
        color: $main-blue-dark;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    img {
      max-width: calc(100vw - 70px);
      border-radius: 20px;
    }
    .group-name {
      display: inline-block;
    }
    .profile-label {
      font-weight: bold;
      margin-bottom: 0;
    }
    .profile-info {
      margin-top: 0;
    }
    .group-sections .profile-info {
      display: inline-block;
      padding-left: 1rem;
    }
    .sections-container {
      padding: 0.5rem;
      border: solid 1px $blue-gray-400;
    }
    form {
      display: flex;
      align-items: center;
      margin-left: 3rem;
      padding: 1.5rem;
      background-color: $blue-gray-200;
      border: solid 1px $blue-gray-300;
      border-radius: 20px;
      div {
        display: flex;
        flex-direction: column;
      }
      input {
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
      }
      button {
        padding: 1rem;
        margin-left: 1rem;
      }
      fa-icon {
        color: $blue-gray-500;
        &:hover {
          color: $main-blue-dark;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-big-screen) {
  .group-profile {
    margin: 3rem 2rem 1rem;
    .profile {
      flex-direction: column;
      justify-content: center;
      img {
        margin-left: 5rem;
        max-width: 600px !important;
      }
    }
  }
  .show-post-form {
    right: 20px;
    top: 83px;
    width: 100px;
    padding: 1rem;
  }
}
