@import "variables";

:host > div {
  position: relative;
}

.section-selector {
  position: sticky;
  z-index: 10;
  top: 153px;
  width: 100%;
  display: flex;
  border-bottom: solid 1px $blue-gray-400;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  & > div {
    width: fit-content;
    padding: 0.37rem 0.5rem;
    border-right: solid 1px $blue-gray-400;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: lighten($green-blue, 25);
    }
  }
}

.active {
  font-weight: bold;
  background-color: lighten($green-blue, 20);
}

.show-post-form {
  position: fixed;
  right: 20px;
  top: 83px;
  z-index: 20;
  width: 100px;
  padding: 1rem;
}
