<div *ngIf="user$ | async">
  <div *ngIf="group" class="section-selector">
    <div (click)="selectGroupProfile()">{{ group.name }}</div>
    <div
      *ngFor="
        let section of group.sections | checkSectionVisibility : user : group.id
      "
    >
      <div (click)="selectSection(section)">
        {{ section.name }}
      </div>
    </div>
  </div>
  <group-detail
    [collapsedAside]="collapsedAside$ | async"
    [group]="group$ | async"
    [selectedSection]="selectedSectionIndex"
    [user]="user$ | async"
    (postSubmitted)="onPostSubmitted($event)"
    (deletePost)="onDeletePost($event)"
    (commentSubmitted)="onCommentSubmitted($event)"
    (deleteComment)="onDeleteComment($event)"
    (groupEditSubmitted)="onGroupEditSubmitted($event)"
    (groupDeleted)="onGroupDeleted($event)"
    (groupFollowed)="onGroupFollowed($event)"
  ></group-detail>
</div>
