@import "variables";

:host > div {
  height: calc(100vh - 50px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: -120px;
  padding-top: 120px;
}

.section-selector {
  position: sticky;
  z-index: 10;
  top: 0px;
  width: 100%;
  display: flex;
  border-bottom: solid 1px $blue-gray-400;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  & > div {
    width: fit-content;
    padding: 0.37rem 0.5rem;
    border-right: solid 1px $blue-gray-400;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: lighten($green-blue, 25);
    }
  }
}
