@import "variables";

:host > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: $main-blue;
  background-image: linear-gradient(
    to right,
    $mid-blue,
    $green-blue,
    $mid-green
  );
  height: 50px;
}

.logo {
  font-size: 1.3rem;
  margin: 0 0 -5px 1rem;
  cursor: pointer;
}

.tools {
  display: flex;
}

input {
  border-radius: 20px;
  border: none;
  box-shadow: inset 2px 2px 2px $shadow-black;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
  &:focus {
    outline: none;
    border: solid 1px $blue-gray-500;
  }
}
