@import "variables";

:host > div {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, $main-blue, $main-green);
  height: 50px;
  width: 100%;
  z-index: 100;
}

.logo {
  font-size: 1.3rem;
  font-family: $font-title;
  margin: 0 0 -5px 1rem;
  cursor: pointer;
}

.tools {
  position: relative;
  display: flex;
  align-items: center;
  input {
    height: 1.5rem;
  }
}

input {
  border-radius: 20px;
  border: none;
  box-shadow: inset 2px 2px 2px $shadow-black;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
  &:focus {
    outline: none;
    border: solid 1px $blue-gray-500;
  }
}

.search-result {
  position: absolute;
  top: 1rem;
  left: 5px;
  width: 12.3rem;
  padding: 0.5rem;
  list-style: none;
  background-color: $blue-gray-100;
  border-radius: 5px;
  box-shadow: 0 0 5px black, inset 0 0 5px $shadow-black;
  li {
    transition: 0.1s;
    padding: 0.3rem;
    cursor: default;
    &:hover {
      background-color: $blue-gray-300;
    }
  }
}
