@import "variables";

:host > div {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 1rem;
  * {
    margin-right: 1rem;
  }
}

#username {
  display: none;
}

@media (min-width: $breakpoint-tablet) {
  #username {
    display: block;
  }
}
