@import "variables";

:host > div {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 1rem;
  * {
    margin-right: 1rem;
  }
}

.profile-picture__wrapper {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#username {
  display: none;
}

@media (min-width: $breakpoint-tablet) {
  #username {
    display: block;
  }
}
